body{
    background: linear-gradient(red,orange,yellow,green,blue,purple);
    background: cover;
}
h1{
    margin-top: 0px;
    padding:10px;
}
#status{
    font-size: 15px;
}
#objects{
    float: right;
    font-size: 20px;
    margin-right: 250px;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
}
canvas{
    border: 10px red ridge;
    border-radius: 15%;
    box-shadow: 5px 5px 15px goldenrod;
    margin-top: 105px;
}
#speed{
    width: 20%;
}
#slider_value{
    color: plum;
    font-size: 13;
}
h4{
    color: purple;
}